*{
    margin : 0 0 ; 
    font-family: "Outfit", sans-serif;
    text-align: center;
}

main{
    min-height: 100vh ;
    background-color: hsl(212, 45%, 89%);
    display : flex ;
    align-items: center;
    justify-content: center; 
}

.parent-container{
    min-height: 32em ;
    width : 20em;
    background-color:hsl(0, 0%, 100%) ; 
    border-radius: 24px;
    display : flex ; 
    flex-direction: column;
    gap : 12px ;
}

.qr-code {
    padding : 15px 0;
}

.qr-code img {
    height: 18em;
    width: 90%;
    border-radius: 10px;
}

.heading{
    font-weight: 900;
    font-size: 16px;
    color: hsl(218, 44%, 22%) ;
    padding: 0.2rem 1.4rem 0 1.4rem ;
}

.description{
    font-weight: 500;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    padding: 1.1rem 2.8rem;
}

@media screen and (max-width : 375px) {
    .parent-container{
        width : 80% ;
    }
    .description , .heading{
        word-break: break-all;
    }
}